html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
}

#rendering {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    flex: 0;
    padding: 10px;
}

.single-line {
    display: flex;
    align-items: flex-end;
}